@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-VariableFont_wght.ttf")
    format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 25% 151%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/Montserrat-Italic-VariableFont_wght.ttf")
    format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 25% 151%;
    font-style: italic;
    font-display: swap;
}